body {
  background-color: #A7D3F7;
}
.page-login {
  height: 100%;
  width: 1056px;
  margin: 0 auto;
  background: url("/static/images/login-bg.png") no-repeat;
  background-size: cover;
}
.page-login .login-header {
  position: absolute;
  left: 220px;
  top: 110px;
}
.page-login .login-form {
  position: absolute;
  top: 200px;
  left: 886px;
}
